body{
  transition: all 0.5s ease;
  animation-duration: 0.9s;
}

div nav .Section-2 button:hover{
  color: black;
  background-color: whitesmoke;
  transition:  all 0.6s ease;
}

div nav .Section-1 a:hover{
    color: #1e1e1e !important;
    transition: all 0.6s ease;
}

@keyframes call{
  100%{
    transform: translateY(0px);
  }
  0%{
    transform: translateY(-10px);
  }
}

div main .Wrapper-button h1:hover{
  transition: all 0.5s ease;
  background-color: whitesmoke;
  color: blue;
  opacity: 0.95;
}


div main .Wrapper-button span:hover{
  background-color: black;
  color: white;
  transition: all 0.5s ease;
}

div section .Section-3:hover{
  box-shadow: inset 70vh 0 0 0 black;
  transition: all 0.5s ease;
  color: white;
}

div section .input input[type="search"]:focus{
  width: 45vh;
  background-color: white;
  border: 2px solid black;
  color: black;
  transition: all 0.5s ease;
}

div footer .Footer-group i:hover{  
  opacity: 0.55;
  transition: all 0.5s ease;
}